{% extends('base.html.twig') %}

{% if  default_middle_top is not defined %}
	{% set default_middle_top = 'App\\Controller\\ProductController::list' %}
	{% set default_middle_bottom = 'App\\Controller\\ItemController::list' %}

{% endif %}




{% block stylesheets %}
    {{ parent() }}
    {# <link href="{{ asset('css/bootswatch.css') }}" rel="stylesheet"> #}


    <style> 

        .row:after {
            content: "";
            display: table;
            clear: both;
        }



		#column-left{
		    width: 13%;
		   	float: left;
		   	max-height: 900px;
		}
		#column-middle{
		    width: 76.5%;
		   	max-height: 900px;
		}
		#column-right{
            width: 10.5%;
		   	float: right;
		   	max-height: 900px;
		}

		#column-middle-top{
			min-height: 329.66px;
		}

    </style>
{% endblock %}



{% block body %}

	{# 1 - jQuery #}
	{# 2 - jQuery ui#}
	{# 3 - Popper #}
	{# 4 - Bootstrap js #}


	<script type="text/javascript" src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery-ui-1.12.1.min.js') }}"></script>

	<script type="text/javascript" src="{{ asset('js/popper-1.16.0.umd.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/bootstrap-4.4.1.js') }}"></script>

	<script from="home\index">



	    function refreshElement(address, replacedElement, whatDo='replace', onComplete=''){
	        $.ajax({
	            type: "GET",
	            url: address,
	            data: '',
	            cache: false,
	            success: function(data){

	            	if(whatDo == 'replace'){
	                	$(replacedElement).html(data);
	            	}

	            	if(whatDo == 'add'){
	                	$(replacedElement).append(data);
	                	// console.log(data);
	            	}

					if (sessionStorage.scrollLeft != "undefined" || sessionStorage.scrollTop != "undefined" ) {
						$(replacedElement +" *").scrollLeft(sessionStorage.scrollLeft);
						$(replacedElement +" *").scrollTop(sessionStorage.scrollTop);
					}

// console.log(sessionStorage.scrollLeft);
// console.log(sessionStorage.scrollTop);
// return false;

// onComplete;
	            },
	            error: function(){},
	            complete: function(){
	            	// if(whatDoOnComplete == 'remove'){
	             //    	$(replacedElement).find(data['data-target']).detach();
	            	// }

// (function () {
//   // body
// onComplete;
// }());


// console.log(onComplete);
// console.log($(this).data('target'));

					$(onComplete).modal('show');



	            }
	        });
		}




	    function refreshModal(address, replacedElement, whatDo='replace'){
	        $.ajax({
	            type: "GET",
	            url: address,
	            data: '',
	            cache: false,
	            success: function(data){

	            	if(whatDo == 'replace'){
	                	$(replacedElement).html(data);
	            	}

	            	if(whatDo == 'add'){
	                	$(replacedElement).append(data);
	            	}



	            },
	            error: function(){},
	            complete: function(){
					$('#modal-UserPanel').modal('show');
					$("#modal-UserPanel").modal("show");

	            }
	        });
		}












	</script>














	





	<div class="top">
		{% block navbar %}
			{{ parent() }}
		{% endblock %}
	</div>




	<div class="row">
		{% block columns %}

			<div id="column-left"> 
				{% block left %}
					{{ render(controller( 'App\\Controller\\ProjectController::list' )) }}
				{% endblock %}
			</div>


			<div id="column-middle">
				{# {% block middle %} #}




				<div class="column" id="column-middle-top">
					{% block middle_top %}
						{# {{ render( controller( default_middle_top )) }} #}
					{% endblock %}
				</div>
				<div id="column-middle-bottom">
					{% block middle_bottom %}
						{# {{ render( controller( default_middle_bottom )) }} #}
					{% endblock %}
				</div>




				{# {% endblock %} #}

			</div>


			<div id="column-right">
				{% block right %}
						{{ render( controller( 'App\\Controller\\SampleProductController::list' )) }}
						{# {{ render( controller( default_middle_top )) }} #}

				{% endblock %}
			</div>
		{% endblock %}

	</div>





{% endblock %}






{% block javascripts %}
{% endblock %}