{% extends 'base.html.twig' %}


{% block body %}




<div>
            <h2>List of all sample_products</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>name</td>
                        <td>image</td>
                        <td>position</td>

                    </tr>
                </thead>
                <tbody>
                    {% for sample_product in sample_products %}
                    <tr>
                        <td>{{ sample_product.id }}</td>
                        <td><a href="{{ path('sample_product.list', {sample_product_id: sample_product.id } ) }}"> {{ sample_product.name }}</a></td>

                        <td>{{ sample_product.image }}</td>
                        <td>{{ sample_product.position }}</td>


                        <td><a href="{{ path('sample_product.show', { 'id': sample_product.id }) }}" class="btn btn-info">Show</a></td>


                        <td><a href="{{ path('sample_product.update', { 'id': sample_product.id }) }}" class="btn btn-danger">Update</a></td>


                       <td><a href="{{ path('sample_product.delete', { 'id': sample_product.id }) }}" class="btn btn-primary">Delete</a></td>




                    </tr>
                    {% endfor %}

                </tbody>
            </table>
</div>
    <a href="{{ path('sample_product.create') }}" class="btn btn-outline-primary">create</a>
    <br>
    <a href="{{ path('home') }}" class="btn btn-primary">Back</a>


{% endblock %}