{# {% extends 'base.html.twig' %} #}


                

{% block stylesheets %}

    {# <link href="{{ asset('css/bootswatch.css') }}" rel="stylesheet"> #}


    <style>
        /*porządki*/
        /*do obslugi js*/


        .column-card-group{
            position: relative;
            flex: 1;
            display: flex;
                flex-direction: column;
                border-left: 5px solid #EB6864;
                height: 900px;
        }
        .column-cards {
            display: flex;
            min-height: 326px;
            white-space: nowrap;
            margin: 3px 3px 0px 3px;
                flex-direction: column;
                overflow-x: auto;
        }
        .column-cards::-webkit-scrollbar {
            width: 0px;
        }
        .column-cards::-webkit-scrollbar-thumb {
            background: red;
            border: 35vh solid transparent;
            background-clip: content-box;
        }
        .column-cards::-webkit-scrollbar-track {
            border-radius: 5px;
        }





        #switch_buttons_sample_product{
            position: relative;
            left: 65px;
            top: -26px;
            height: 0px;
        }


.empty * img{
    filter: grayscale(100%);
    max-height: 114.66px;
    max-width: 172px;
}

    </style>
{% endblock %}




{% block right %}


                {# {{ render(controller( 'App\\Controller\\SampleProductController::create' )) }} #}







    <div class="column-card-group">
        <div id="switch_buttons_sample_product">
            <a>
                <button type="button" id="update_switch_sample_product" class="btn btn-outline-primary btn-sm py-0" onClick="update_switch_sample_product()" style="font-size: 0.75rem;" data-toggle="buttons">Update</button>
            </a>
            <a>
                <button type="button" id="delete_switch_sample_product" class="btn btn-primary btn-sm py-0" onClick="delete_switch_sample_product()" style="font-size: 0.75rem;" data-toggle="buttons">Delete</button>
            </a>
        </div>
        <div class="column-cards" id="container">

            {% for sample_product in sample_products %}

                {% set todo_value = 0 %}
                {% set todo_elements = 0 %}

                {% set doing_value = 0 %}
                {% set doing_elements = 0 %}

                {% set done_value = 0 %}
                {% set done_elements = 0 %}

                {% set undone_value = 0 %}

                {% set header_doing = '' %}
                {% set header_exists = false %}


                {% for sample_item in sample_product.sampleitems %}


                    {% if  (sample_item.position >= 1) and (sample_item.position <= 20) %}

                        {% if sample_item.intervalcounted is defined and (sample_item.intervalcounted / 3600)|round(0, 'floor') != 0 %}
                            {% set todo_value = todo_value + ( sample_item.intervalcounted / 3600 ) %}
                        {% else %}
                            {% set todo_value = todo_value + sample_item.value %}
                        {% endif %}


                        {% set todo_elements = todo_elements + 1 %}
                    {% endif %}
                    {% if  (sample_item.position >= 21) and (sample_item.position <= 40) %}
                        {% set doing_value = doing_value + sample_item.value %}
                        {% set doing_elements = doing_elements + 1 %}
                        
                        {% if  (header_exists == false) %}
                            {% set header_doing = sample_item.name %}
                            {% set header_exists = true %}
                        {% endif %}

                    {% endif %}
                    {% if  (sample_item.position >= 41) and (sample_item.position <= 60) %}
                        {% set done_value = done_value + sample_item.value %}
                        {% set done_elements = done_elements + 1 %}
                    {% endif %}
                {% endfor %}

                {% set undone_value = todo_value + doing_value %}



                    <div class="empty" data-index="{{ sample_product.id }}" data-position="{{ 0 }}">
                        <div class="card border-primary fill" data-index="{{ sample_product.id }}" data-position="{{ 0 }}">
                            <div class="card-header">{{ header_doing }}


{#             <a>
                <button id="update" onClick="refreshElement(this.value, '#column-middle-top')" value="{{ path('sample_product.update', { 'id': sample_product.id }) }}"></button>
            </a> #}

                    <a>
                        <button id="update" onClick="refreshElement(this.value, '#column-right', 'add')" value="{{ path('sample_product.update', { 'id': sample_product.id }) }}" data-toggle="modal" data-target="#modal-SampleProductPanel"></button>
                    </a>






            <a>
                <button id="delete" onClick="refreshElement(this.value, '#column-right')" value="{{ path('sample_product.delete', { 'id': sample_product.id }) }}"></button>
            </a>

                            </div>


                        {% if not sample_product.image %}
                            <img src="{{ asset('uploads/noVideo.png') }}" class="card-img-top" alt="...">
                        {% else %}
                            <img src="{{ 'https://img.youtube.com/vi/' ~ sample_product.image ~ '/default.jpg' }} " class="card-img-top">
                        {% endif %}


                            <a>
                                <button onClick="refreshElement(this.value, '#column-middle-bottom')" value="{{ path('sample_item.list_byProduct', {id: sample_product.id }) }}"></button>
                            </a>

                            <h5 class="card-title">{{ sample_product.name }}</h5>
                            <div class="kanban-buttons">
                                <a href="#" class="btn btn-primary todo">{{ todo_elements }}</a>
                                <a href="#" class="btn btn-primary doing">{{ doing_elements }}</a>
                                <a href="#" class="btn btn-primary done">{{ done_elements }}</a>
                            </div>
                            <br>

                            {% set hours = "%02d"|format( undone_value % 24 ) %}
                            {% set days = "%02d"|format( (undone_value - hours) % 23 ) %}

                            <div class="card-footer">{{ days }}  {{ hours }}:00:00</div>
                        </div>
                    </div>

                {% set checked = true %}

                {% set id = '{{ sample_product.id }}' %}
                {% set position = '{{ sample_product.position }}' %}


            {% endfor %}

                    <div class="empty">
                    </div>
                    <div class="empty">
                    </div>


        </div>
    </div>








{% endblock %}










{% block javascripts %}

    <script from="sample_product\index">


        function update_switch_sample_product() {
            $('#column-right').find("*").find('#update').toggle();
            setTimeout(function() {
                $('#column-right').find("*").find('#update').css('display', 'none');
                $('#column-right').find("*").find('#update_switch_sample_product').attr('aria-pressed', 'false').removeClass('active focus');
            }, 4000);
        }



        function delete_switch_sample_product() {
            $('#column-right').find("*").find('#delete').toggle();
            setTimeout(function() {
                $('#column-right').find("*").find('#delete').css('display', 'none');
                $('#column-right').find("*").find('#delete_switch_sample_product').attr('aria-pressed', 'false').removeClass('active focus');
            }, 4000);
        }


        $('#container').on( 'scroll', function() {
            $('#container').scroll(function() {
                sessionStorage.scrollTop = $(this).scrollTop();
                // console.log(sessionStorage.scrollTop);
            });
        });

    </script>


{% endblock %}