{# {% extends 'base.html.twig' %} #}


                

{% block stylesheets %}

    {# <link href="{{ asset('css/bootswatch.css') }}" rel="stylesheet"> #}


    <style>
        /*porządki*/
        /*do obslugi js*/

        /*///////////////////////////////*/


        .column-card-group{
            position: relative;
            flex: 1;
            display: flex;
            /*padding: 0px 50px 0px 50px;*/
        }




        /*///////////////////////////////*/

        .column-cards {
            overflow-x: auto;
            /*overflow-x: hidden;*/
            white-space: nowrap;
                margin-top: 3px;

                display: flex;
                /*flex-direction: row;*/
                flex-direction: column;
                min-height: 326px;
        }

        .empty{
            border-style: solid;
            /*border-color: #EB6864;*/
            border-color: #EB686440;

            border-width: 1px;
            border-radius: 5px;
            /*height: calc( 100% - 2px);*/

            max-width: 11rem;
            min-width: 11rem;

/*                vertical-align: text-top;
                display: inline-block;
                float: none;*/

                background-color: #fcfcfc;
        }





        /*colors*/

        .card-title{
            text-align: center;
        }
        .kanban-buttons>.todo{
            background-color: #ff00ff;
            margin-left: 5px;
        }
        .kanban-buttons>.doing{
            background-color: #cccc00;
            margin-left: 5px;
            margin-right: 5px;
        }
        .kanban-buttons>.done{
            background-color: #00ffff;
            margin-right: 5px;
        }
        .kanban-buttons>*:hover{
            opacity: 0.6; 
        }
        .kanban-buttons>*{
            opacity: 0.3; 
            transition: 0.3s;
        }
        .card-header {cursor: move;}
        .card-img-top{cursor: pointer;}
        .card-footer{cursor: default;}
        .card-title{cursor: default;}

        .kanban-buttons>*{
            border-style: none;
        }

        /*size*/

        .kanban-buttons{
            margin-left: auto;
            margin-right: auto;
        }
        .card-title{
            margin-top: 13px;
            margin-bottom: 15px;
        }
        .card-footer{
            max-width: 174px;
            min-width: 174px;
            bottom: 0px;
        }



.column-cards>.empty>*>a>button{
    position:absolute;
    width:172px;
    height:115px;
    opacity: 0.0;
    /*top: 50%;*/
  /*left: 50%;*/
    transform: translate(0%, -100%);
}


    </style>
{% endblock %}




{% block middle_top %}
    <div class="column-card-group">
        <div class="column-cards" id="container">


            {# {% for i in 1..10 %} #}
                {# {% set checked = false %} #}

                {% for item in sample_products %}
                    {# {% if  item.position == i  %} #}
                            {# <div class="empty" data-index="{{ item.id }}" data-position="{{ 0 }}"> #}
                            <div class="empty" data-index="{{ item.id }}">
                                {# <div class="card border-primary fill" data-index="{{ item.id }}" data-position="{{ 0 }}"> #}
                                <div class="card border-primary fill" data-index="{{ item.id }}">
                                    <div class="card-header">Header-doing</div>
                                    <img src="{{ asset('uploads/pobrane1.jpg') }}" class="card-img-top" alt="...">

                                    <a>
                                        {# <button onClick="refreshColumnMiddleBottomLeft(this)" value="{{ path('product.list_byItem', {itemId: item.id }) }}"></button> #}
                                    </a>


                {# <a href={{ path('item.createFromSample', { 'id': item.id }) }}>-</a> #}




                                    <h5 class="card-title">{{ item.name }}</h5>
                                    <div class="kanban-buttons">
                                        <a href="#" class="btn btn-primary todo">1</a>
                                        <a href="#" class="btn btn-primary doing">2</a>
                                        <a href="#" class="btn btn-primary done">3</a>
                                    </div>
                                    <br>
                                    <div class="card-footer">Footer-timer</div>
                                </div>
                            </div>

                        {# {% set checked = true %} #}

                {% set idSampleItem = '{{ item.id }}' %}
                {% set position = '{{ item.position }}' %}

                    {# {% endif %} #}
                {% endfor %}

{#                     {% if checked == false %}
                            <div class="empty" data-index="" data-position="{{ i }}"></div>
                        {% set checked = true %}
                    {% endif %} #}

            {# {% endfor %} #}



        </div>
    </div>

    <script>
        // var urlSortItems = '{{ path( 'item.sort', { 'id': '{{ id }}', 'position': '{{ position }}' } ) }}';
    </script>

{% endblock %}










{% block javascripts %}

{# 
    <script from="item">
        $(document).ready(function(){

            var startId;
            var stopId;
            var reverted;



            $(".fill").draggable(
                {
                    helper: 'clone',

                    start:function( event, ui ){
                        parent = $(this.parentNode);
                        startId = $(this.parentNode).attr('data-position');
                    },

                    revert: function(is_valid_drop){

                        if(!is_valid_drop){
                            reverted = true;
                            return true;
                        } else {
                            reverted = false;
                        }
                    },

                    stop:function( event, ui ){
                        stopId = $(this.parentNode).attr('data-position');
                        $(this.parentNode).attr('data-index', $(this).attr('data-index') );


                        if(reverted == false){
                            $(parent).attr('class','empty ui-droppable').droppable( 'enable' ).attr('data-index',"");
                            saveNewItemsPositions();
                        }
                    },

                });


            $(".empty").droppable(
                {
                    accept: ".fill",

                    drop:function(ev, ui){
                        var droppedItem = $(ui.draggable).clone();
                        // var droppedItem = $(ui.draggable);
                        
                        $(this).append(droppedItem);
                        $(this).children().attr('data-position', $(this).attr('data-position'));
                        $(this).attr('class','empty').droppable( 'disable' ).addClass('updated');




                    }
                }
            ).each(function() {
                    $(".empty:not(:empty)").attr('class','empty ui-droppable-disabled').droppable( 'disable' );
            });


            function saveNewItemsPositions() {
                var positions = [];
                $('.updated').each(function() {
                    positions.push([$(this).attr('data-index'), $(this).attr('data-position')]);
                    $(this).removeClass('updated');
                });

                $.ajax({
                    url: urlSortItems,
                    // url: 'ajax_update.php',
                    // url: 'index.php',
                    method: 'POST',
                    dataType: 'text',
                    data: {
                        update: 1,
                        positions: positions
                    },
                    success: function(response) {
                    }
                });
            }














        });
    </script>

 #}
{% endblock %}