

                

{% block stylesheets %}

    {# <link href="{{ asset('css/bootswatch.css') }}" rel="stylesheet"> #}


    <style>
        /*porządki*/
        /*do obslugi js*/




        .row-card-group{
            position: relative;
            flex: 1;
            display: flex;
                flex-direction: row;
                padding: 0px 50px 0px 50px;
        }
        .row-cards{
            display: flex;
            min-height: 326px;
            white-space: nowrap;
            margin: 3px 3px 0px 3px;
                flex-direction: row;
                overflow-x: hidden;
        }



        #switch_button_delete{
            position: relative;
            left: 689px;
            top: -26px;

            height: 0px;
        }
        #switch_button_info{
            position: relative;
            left: 741px;
            top: -26px;
            height: 0px;
        }




        /*=============================*/
        /*panner*/
        /*=============================*/
        .panner {
            display: inline-block;
            width: 50px;
            height: calc( 100% - 5px);


            font-size: 64px;

            display: flex;
            align-items: center;
            justify-content: center;

            border-style: solid; 
            border-style: none;

            background-color: rgba(0, 0, 0, 0.0);
            color:#EB6864;

        }
        .panner:hover{
            color:red;
            opacity: 1.0; 
            cursor: pointer;

        }
        .panner {
            position: absolute;
            top: 4px;
        }
        #panLeft {
            left: 0px;
        }
        #panRight {
            right: 0px;
        }

        /*-----------------------------*/

        /*#container{
            margin-left: -50px;
            margin-right: -50px;
        }
        .panner {
            position: sticky;
        }
        #panLeft {
            left: 50px;
        }
        #panRight {
            right: 50px;
        }*/

        /*=============================*/
.empty * img{
    filter: grayscale(100%);
    max-height: 114.66px;
    max-width: 172px;
}




    </style>
{% endblock %}




{% block middle_top %}

                {{ render(controller( 'App\\Controller\\ProjectController::info', { 'projectId': projectId } )) }}


    <div id="switch_button_delete">
        <a>
            <button type="button" id="delete_switch_product" class="btn btn-primary btn-sm py-0" onClick="delete_switch_product()" style="font-size: 0.75rem;" data-toggle="buttons">Delete</button>
        </a>
    </div>
    <div id="switch_button_info">
        <a>
            <button type="button" class="btn btn-primary btn-sm py-0" data-toggle="modal" data-target="#modalInfoPanel" style="font-size: 0.75rem;" data-toggle="buttons">Info</button>
        </a>
    </div>

    <div class="row-card-group">



        <div class="row-cards" id="container">


            {% for i in 1..10 %}
                {% set checked = false %}

                {% for product in products %}




                    {% if  product.position == i  %}
                        {% set todo_value = 0 %}
                        {% set todo_elements = 0 %}

                        {% set doing_value = 0 %}
                        {% set doing_elements = 0 %}

                        {% set done_value = 0 %}
                        {% set done_elements = 0 %}

                        {% set undone_value = 0 %}

                        {% set header_doing = '' %}
                        {% set header_exists = false %}


                        {% for item in product.items %}
                            {% if  (item.position >= 1) and (item.position <= 20) %}
                                {% set todo_value = todo_value + item.value %}
                                {% set todo_elements = todo_elements + 1 %}
                            {% endif %}
                            {% if  (item.position >= 21) and (item.position <= 40) %}
                                {% set doing_value = doing_value + item.value %}
                                {% set doing_elements = doing_elements + 1 %}
                                
                                {# {% if  (item.position == 21) %} #}
                                {% if  (header_exists == false) %}
                                    {% set header_doing = item.name %}
                                    {% set header_exists = true %}

                                {% endif %}

                            {% endif %}
                            {% if  (item.position >= 41) and (item.position <= 60) %}
                                {% set done_value = done_value + item.value %}
                                {% set done_elements = done_elements + 1 %}
                            {% endif %}
                        {% endfor %}
                                {% set undone_value = todo_value + doing_value %}



                            <div class="empty" data-index="{{ product.id }}" data-position="{{ i }}">
                                <div class="card border-primary fill" data-index="{{ product.id }}" data-position="{{ i }}">
                                    <div class="card-header">{{ header_doing }}



            <a>
                <button id="delete" onClick="refreshElement(this.value, '#column-middle-top')" value="{{ path('product.delete', { 'id': product.id }) }}"></button>
            </a>


                                    </div>

                        {% if not product.image %}
                            <img src="{{ asset('uploads/noVideo.png') }}" class="card-img-top">
                        {% else %}
                            <img src="{{ 'https://img.youtube.com/vi/' ~ product.image ~ '/default.jpg' }} " class="card-img-top">
                        {% endif %}






                                    <a>
                                        <button onClick="refreshElement(this.value, '#column-middle-bottom')" value="{{ path('item.list_byProduct', {productId: product.id }) }}"></button>
                                    </a>

                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <div class="kanban-buttons">
                                        <a href="#" class="btn btn-primary todo">{{ todo_elements }}</a>
                                        <a href="#" class="btn btn-primary doing">{{ doing_elements }}</a>
                                        <a href="#" class="btn btn-primary done">{{ done_elements }}</a>
                                    </div>
                                    <br>

                                    {% set hours = "%02d"|format( undone_value % 24 ) %}
                                    {% set days = "%02d"|format( (undone_value - hours) % 23 ) %}

                                    <div class="card-footer">{{ days }} {{ hours }}:00:00</div>
                                </div>
                            </div>

                        {% set checked = true %}

                        {% set id = '{{ product.id }}' %}
                        {% set position = '{{ product.position }}' %}


                    {% endif %}
                {% endfor %}

                    {% if checked == false %}
                            <div class="empty" data-index="" data-position="{{ i }}"></div>
                        {% set checked = true %}
                    {% endif %}

            {% endfor %}


            <span id="panLeft" class="panner" data-scroll-modifier='-1'>&#10094;</span>
            <span id="panRight" class="panner" data-scroll-modifier='1'>&#10095;</span>
        </div>
    </div>





{% endblock %}










{% block javascripts %}


    <script from="product\index">






        $(document).ready(function(){



            var startId;
            var stopId;
            var reverted;

            var from;

            updateDraggables();

            function updateDraggables(){

                $(".fill").draggable(
                    {
                        helper: 'clone',

                        start:function( event, ui ){

                            parent = $(this.parentNode);
                            startId = $(this.parentNode).attr('data-position');

                            // console.log("f.start -> 'startId' := " + startId);

                            grandParent = parent.parent();

                            if(grandParent.attr('class') == 'row-cards'){
                                from = "row";
                            }else{
                                from = "column";
                            }
                            // console.log("f.start -> 'from' := " + from );

                            if( from == 'row'){
                                urlSortProducts = '{{ path( 'product.sort', { 'id': '{{ id }}', 'position': '{{ position }}' } ) }}';
                            }
                            if( from == 'column'){
                                urlSortProducts = '{{ path( 'product.createFromSample', { 'id': '{{ id }}', 'position': '{{ position }}', 'projectId': projectId } ) }}';
                            }


                        },

                        revert: function(is_valid_drop){

                            if(!is_valid_drop){
                                reverted = true;
                                return true;
                            } else {
                                reverted = false;
                            }
                        },

                        // stop:async function( event, ui ){
                        stop:function( event, ui ){
                            stopId = $(this.parentNode).attr('data-position');
                            $(this.parentNode).attr('data-index', $(this).attr('data-index') );

                            // console.log("f.stop -> 'stopId' := " + stopId);
                            // console.log("f.stop -> 'reverted' := " + reverted);

                            if(reverted == false){
                                if( from == 'row'){
                                    $(parent).attr('class','empty ui-droppable').droppable( 'enable' ).attr('data-index',"");
                                }

                                saveNewItemsPositions();

                            }
                        },

                    });
            };

            $(".empty").droppable(
                {
                    accept: ".fill",
                    drop:function(ev, ui){
                        // console.log("f.drop -> 'from' := " + from );
                        if( from == 'row'){
                            var droppedItem = $(ui.draggable);
                        }
                        if( from == 'column'){
                            var droppedItem = $(ui.draggable).clone();
                        }
                        $(this).append(droppedItem);

                        $(this).children().attr('data-position', $(this).attr('data-position'));
                        $(this).attr('class','empty').droppable( 'disable' ).addClass('updated');

                        if( from == 'column'){
                            $(this).attr('data-index', $(this).children().attr('data-index'));
                            $(this).find('.card-header a').remove();

                            updateDraggables();
                        }

                    }
                }
            ).each(function() {
                    $(".empty:not(:empty)").attr('class','empty ui-droppable-disabled').droppable( 'disable' );
            });





            function saveNewItemsPositions() {
                var positions = [];
                $('.updated').each(function() {
                    positions.push([$(this).attr('data-index'), $(this).attr('data-position')]);
                    $(this).removeClass('updated').addClass('response');
                });

                $.ajax({
                    url: urlSortProducts,
                    // url: 'ajax_update.php',
                    // url: 'index.php',
                    method: 'POST',
                    dataType: 'text',
                    data: {
                        update: 1,
                        positions: positions
                    },
                    success: function(response) {
                        if( from == 'column'){
                            $('.response').attr('data-index', response);
                            $('.response').children().attr('data-index', response);
                        }
                        $('.response').removeClass('response');


                        address="{{ path('product.list_byProject', {projectId: projectId }) }}";
                        refreshElement(address, '#column-middle-top');

                    }
                });
            }

        });



        function delete_switch_product() {
            $('#column-middle').find("*").find('#delete').toggle();
            setTimeout(function() {
                $('#column-middle').find("*").find('#delete').css('display', 'none');
                $('#column-middle').find("*").find('#delete_switch_product').attr('aria-pressed', 'false').removeClass('active focus');
            }, 4000);
        }





    
        // $(document).ready(function(){
        //     for (i = 0; i <= 10; i++) {
        //         if( ( $('.row-cards').find("div[data-position="+i+"]").find('.kanban-buttons .todo').text() == 0 ) & ( $('.row-cards').find("div[data-position="+i+"]").find('.kanban-buttons .doing').text() == 0 ) ){
        //             $('.row-cards').find("div[data-position="+i+"]").find('.fill').css({"opacity": "0.4"});
        //         }
        //     }
        // });

        (function () {
            for (i = 0; i <= 10; i++) {
                if( ( $('.row-cards').find("div[data-position="+i+"]").find('.kanban-buttons .todo').text() == 0 ) & ( $('.row-cards').find("div[data-position="+i+"]").find('.kanban-buttons .doing').text() == 0 ) ){
                    $('.row-cards').find("div[data-position="+i+"]").find('.fill').css({"opacity": "0.4"});
                }
            }
        })();


        $('#container').on( 'scroll', function() {
            $('#container').scroll(function() {
                sessionStorage.scrollLeft = $(this).scrollLeft();
                // console.log(sessionStorage.scrollLeft);
            });
        });



        $(document).ready(function(){


            $("#panLeft").mouseenter(
                function animateLeft(){
                    $('.row-cards').animate({ scrollLeft: "-="+"100px" }, 
                        100,  "linear",
                        animateLeft );
                });
            $("#panLeft").mouseleave(
                function() {
                    $(".row-cards").stop();
                });
            $("#panRight").mouseenter(
                function animateRight(){
                    $('.row-cards').animate({ scrollLeft: "+="+"100px" }, 
                        100, "linear",
                        animateRight );
                });
            $("#panRight").mouseleave(
                function() {
                    $(".row-cards").stop();
                });

        });
    </script>





{% endblock %}