

                

{% block stylesheets %}

    {# <link href="{{ asset('css/bootswatch.css') }}" rel="stylesheet"> #}


    <style>
        /*porządki*/
        /*do obslugi js*/

        /*///////////////////////////////*/

        .panner {
            display: inline-block;
            width: 50px;
            height: calc( 100% - 5px);


            font-size: 64px;

            display: flex;
            align-items: center;
            justify-content: center;

            /*border-style: solid; */
            border-style: none; 

            background-color: rgba(0, 0, 0, 0.0);
            color:#EB6864;

        }
        .panner:hover{
            color:red;
            opacity: 1.0; 
            cursor: pointer;

        }
        .panner {
            position: absolute;
            top: 4px;
        }
        #panLeft {
            left: 0px;
        }
        #panRight {
            right: 0px;
        }
        .card-group{
            position: relative;
            /*flex: 1;*/
            display: flex;
            padding: 0px 50px 0px 50px;
        }


        /*#container{
            margin-left: -50px;
            margin-right: -50px;
        }
        .panner {
            position: sticky;
        }
        #panLeft {
            left: 50px;
        }
        #panRight {
            right: 50px;
        }*/

        /*///////////////////////////////*/

        .row-cards {
            /*overflow-x: auto;*/
            overflow-x: hidden;
            white-space: nowrap;
                margin-top: 3px;

                display: flex;
                flex-direction: row;
                min-height: 326px;
        }

        .empty{
            border-style: solid;
            /*border-color: #EB6864;*/
            border-color: #EB686440;

            border-width: 1px;
            border-radius: 5px;
            /*height: calc( 100% - 2px);*/

            max-width: 11rem;
            min-width: 11rem;

/*                vertical-align: text-top;
                display: inline-block;
                float: none;*/

                background-color: #fcfcfc;
        }





        /*colors*/

        .card-title{
            text-align: center;
        }
        .kanban-buttons>.todo{
            background-color: #ff00ff;
            margin-left: 5px;
        }
        .kanban-buttons>.doing{
            background-color: #cccc00;
            margin-left: 5px;
            margin-right: 5px;
        }
        .kanban-buttons>.done{
            background-color: #00ffff;
            margin-right: 5px;
        }
        .kanban-buttons>*:hover{
            opacity: 0.6; 
        }
        .kanban-buttons>*{
            opacity: 0.3; 
            transition: 0.3s;
        }
        .card-header {cursor: move;}
        .card-img-top{cursor: pointer;}
        .card-footer{cursor: default;}
        .card-title{cursor: default;}

        .kanban-buttons>*{
            border-style: none;
        }

        /*size*/
        .card-header{
            min-height: 49px;
        }

        .kanban-buttons{
            margin-left: auto;
            margin-right: auto;
        }
        .card-title{
            margin-top: 13px;
            margin-bottom: 15px;
        }
        .card-footer{
            max-width: 174px;
            min-width: 174px;
            bottom: 0px;
            text-align: center;

        }



.row-cards>.empty>*>a>button{
    position:absolute;
    width:172px;
    height:115px;
    opacity: 0.0;
    /*top: 50%;*/
  /*left: 50%;*/
    transform: translate(0%, -100%);
}


    </style>
{% endblock %}




{% block middle_top %}
    <div class="card-group">
        <div class="row-cards" id="container">

            {% for i in 1..10 %}
                {% set checked = false %}

                {% for product in products %}

                    {% if  product.position == i  %}
                        {% set todo_value = 0 %}
                        {% set todo_elements = 0 %}

                        {% set doing_value = 0 %}
                        {% set doing_elements = 0 %}

                        {% set done_value = 0 %}
                        {% set done_elements = 0 %}

                        {% set undone_value = 0 %}

                        {% set header_doing = '' %}
                        {% set header_exists = false %}


                        {% for item in product.items %}
                            {% if  (item.position >= 1) and (item.position <= 20) %}
                                {% set todo_value = todo_value + item.value %}
                                {% set todo_elements = todo_elements + 1 %}
                            {% endif %}
                            {% if  (item.position >= 21) and (item.position <= 40) %}
                                {% set doing_value = doing_value + item.value %}
                                {% set doing_elements = doing_elements + 1 %}
                                
                                {# {% if  (item.position == 21) %} #}
                                {% if  (header_exists == false) %}
                                    {% set header_doing = item.name %}
                                    {% set header_exists = true %}

                                {% endif %}

                            {% endif %}
                            {% if  (item.position >= 41) and (item.position <= 60) %}
                                {% set done_value = done_value + item.value %}
                                {% set done_elements = done_elements + 1 %}
                            {% endif %}
                        {% endfor %}
                                {% set undone_value = todo_value + doing_value %}



                            <div class="empty" data-index="{{ product.id }}" data-position="{{ i }}">
                                <div class="card border-primary fill" data-index="{{ product.id }}" data-position="{{ i }}">
                                    <div class="card-header">{{ header_doing }}</div>
                                    <img src="{{ asset('uploads/pobrane1.jpg') }}" class="card-img-top" alt="...">

                                    <a>
                                        <button onClick="refreshColumnMiddleBottom(this)" value="{{ path('item.list_byProduct', {productId: product.id }) }}"></button>
                                    </a>

                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <div class="kanban-buttons">
                                        <a href="#" class="btn btn-primary todo">{{ todo_elements }}</a>
                                        <a href="#" class="btn btn-primary doing">{{ doing_elements }}</a>
                                        <a href="#" class="btn btn-primary done">{{ done_elements }}</a>
                                    </div>
                                    <br>

                                    {% set hours = "%02d"|format( undone_value % 24 ) %}
                                    {% set days = "%02d"|format( (undone_value - hours) % 23 ) %}

                                    <div class="card-footer">{{ days }}:{{ hours }}:00:00</div>
                                </div>
                            </div>

                        {% set checked = true %}

                        {% set id = '{{ product.id }}' %}
                        {% set position = '{{ product.position }}' %}


                    {% endif %}
                {% endfor %}

                    {% if checked == false %}
                            <div class="empty" data-index="" data-position="{{ i }}"></div>
                        {% set checked = true %}
                    {% endif %}

            {% endfor %}


            <span id="panLeft" class="panner" data-scroll-modifier='-1'>&#10094;</span>
            <span id="panRight" class="panner" data-scroll-modifier='1'>&#10095;</span>
        </div>
    </div>


    <script>
        var urlSortItems = '{{ path( 'product.sort', { 'id': '{{ id }}', 'position': '{{ position }}' } ) }}';
    </script>


{% endblock %}










{% block javascripts %}


    <script from="product">
        $(document).ready(function(){

            var startId;
            var stopId;
            // var reverted = true;
            var reverted;

            console.log("\n "+"na poczatku :="+"\n ");
            console.log("'reverted' := " + reverted);
            console.log("'startId' := " + startId);
            console.log("'stopId' := " + stopId);

            $(".fill").draggable(
                {
                    helper: 'clone',
                //     revert: 'invalid',

                    start:function( event, ui ){
                        parent = $(this.parentNode);
                        startId = $(this.parentNode).attr('data-position');
                        console.log("\n "+"f.start :="+"\n ");
                        console.log("'startId' := " + startId);
                    },

                    revert: function(is_valid_drop){
                        // console.log("is_valid_drop = " + is_valid_drop);
                        // when you're done, you need to remove the "dragging" class
                        // and yes, I'm sure this can be refactored better, but I'm 
                        // out of time for today! :)
                        console.log("\n "+"f.revert := "+"\n ");

                        if(!is_valid_drop){
                            reverted = true;
                            console.log("'reverted' := " + reverted);
                            return true;
                        } else {
                            reverted = false;
                            console.log("'reverted' := " + reverted);
                        }
                    },

                    stop:function( event, ui ){
                        stopId = $(this.parentNode).attr('data-position');
                        $(this.parentNode).attr('data-index', $(this).attr('data-index') );

                        console.log("\n "+"f.stop :="+"\n ");
                        console.log("'stopId' := " + stopId);
                        console.log("'reverted' := " + reverted);

                        if(reverted == false){
                            $(parent).attr('class','empty ui-droppable').droppable( 'enable' ).attr('data-index',"");
                            saveNewItemsPositions();
                        }
                    },

                });


            $(".empty").droppable(
                {
                    accept: ".fill",

                    // accept: ".active",
                    drop:function(ev, ui){
                        // var droppedItem = $(ui.draggable).clone();
                        var droppedItem = $(ui.draggable);
                        
                        $(this).append(droppedItem);
                        $(this).children().attr('data-position', $(this).attr('data-position'));
                        $(this).attr('class','empty').droppable( 'disable' ).addClass('updated');



                        console.log($(this).attr('class'));
                        console.log("'reverted-in-droppable' := " + reverted);
                    }
                }
            ).each(function() {
                    $(".empty:not(:empty)").attr('class','empty ui-droppable-disabled').droppable( 'disable' );
            });


            function saveNewItemsPositions() {
                var positions = [];
                $('.updated').each(function() {
                    positions.push([$(this).attr('data-index'), $(this).attr('data-position')]);
                    $(this).removeClass('updated');
                });

                $.ajax({
                    url: urlSortItems,
                    // url: 'ajax_update.php',
                    // url: 'index.php',
                    method: 'POST',
                    dataType: 'text',
                    data: {
                        update: 1,
                        positions: positions
                    },
                    success: function(response) {
                        console.log(response);
                    }
                });
            }









            $("#panLeft").mouseenter(
                function animateLeft(){
                    $('.row-cards').animate({ scrollLeft: "-="+"100px" }, 
                        100,  "linear",
                        animateLeft );
                });
            $("#panLeft").mouseleave(
                function() {
                    $(".row-cards").stop();
                });
            $("#panRight").mouseenter(
                function animateRight(){
                    $('.row-cards').animate({ scrollLeft: "+="+"100px" }, 
                        100, "linear",
                        animateRight );
                });
            $("#panRight").mouseleave(
                function() {
                    $(".row-cards").stop();
                });

        });
    </script>


{% endblock %}