{% extends 'base.html.twig' %}


{% block body %}





<div>
            <h2>List of all sample_items from sample_item</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>name</td>
                        <td>value</td>
                        <td>description</td>
                        <td>position</td>
                    </tr>
                </thead>
                <tbody>
                    {% for sample_item in sample_items %}
                    <tr>
                        <td>{{ sample_item.id }}</td>
                        <td><a href="#"> {{ sample_item.name }} </a></td>

                        <td>{{ sample_item.value }}</td>
                        <td>{{ sample_item.description }}</td>
                        <td>{{ sample_item.position }}</td>


                        <td><a href="{{ path('sample_item.show', { 'id': sample_item.id }) }}" class="btn btn-info">Show</a></td>


                        <td><a href="{{ path('sample_item.update', { 'id': sample_item.id }) }}" class="btn btn-danger">Update</a></td>


                       <td><a href="{{ path('sample_item.delete', { 'id': sample_item.id }) }}" class="btn btn-primary">Delete</a></td>





                    </tr>
                    {% endfor %}

                </tbody>
            </table>
</div>
    <a href="{{ path('sample_item.create') }}" class="btn btn-outline-primary">create</a>
    <br>
    <a href="{{ path('home') }}" class="btn btn-primary">Back</a>


{% endblock %}