{% extends 'base.html.twig' %}

{# {% block title %}Log in!{% endblock %} #}

{% block body %}



<style>


        #nav-left{
            width: 13%;
            float: left;
        }
        #nav-middle{
            width: 73%;
            /*overflow: scroll;*/
        }
        #nav-right{
            width: 13%;
            float: right;
        }

        .navbar-brand{
            text-transform: capitalize;
            font-weight: 400;
            font-family: Brush Script MT, Brush Script Std, cursive;
            font-size: 24px;
        }




</style>


            {# {{ render(controller( 'App\\Controller\\ProjectController::handleSearch' )) }} #}
            {# {{ render(controller( 'App\\Controller\\ProjectController::handleSearch', {} )) }} #}

    {# {{ render(controller( 'App\\Controller\\RegistrationController::admin_change_password', { id: chosen_id } )) }} #}




            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ render(controller( 'App\\Controller\\RegistrationController::admin_panel' )) }}
                {# {{ render(controller( 'App\\Controller\\RegistrationController::user_panel' )) }} #}
            {% endif %}


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    
    <div id="nav-left">
    </div>



    <div id="nav-middle" class="d-flex justify-content-between">
       

        <div class="collapse navbar-collapse d-flex justify-content-start w-50" id="navbarColor01">

            <a class="navbar-brand" href="{{ path('home') }}">planner</a>
            {{ render(controller( 'App\\Controller\\ProjectController::nextSearch' )) }}

        </div>


        <div class="collapse navbar-collapse d-flex justify-content-end {# w-25  #}ml-5" id="navbarColor01">


            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                <input class="form-control w-50" value={{ app.user.username }} readonly>
                <a href="{{ path('app_logout') }}">
                    <button class="btn btn-secondary">Logout</button>
                </a>

                {{ render(controller( 'App\\Controller\\RegistrationController::change_password' )) }}
            {% else %}

                <form class="form-inline input-group{#  my-2 my-lg-0 w-100 #} w-75" method="post">
                    <input class="form-control w-50" type="text" value="{{ last_username }}" name="username" id="inputUsername" required autofocus >
                    <input class="form-control w-50" type="password" name="password" id="inputPassword" required>

                    <button class="btn btn-secondary" type="submit">Sign in</button>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </form>
                {{ render(controller( 'App\\Controller\\RegistrationController::register' )) }}

            {% endif %}

        </div>


    </div>


    <div id="nav-right">

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarColor01">

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                <div class="btn-group" style="top:1px">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</button>



                    <div class="dropdown-menu dropdown-menu-right">


                        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#modalChangePassword">Change Password</button>

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <button type="button" class="dropdown-item" id="show-UserPanel" onClick="refreshElement(this.value, '.top', 'add', $(this).data('target') )" value="{{ path('user_panel') }}" data-toggle="modal" data-target="#modal-UserPanel">Show User Page</button>
                        {% endif %}


                        {% if is_granted('ROLE_ADMIN') %}

                        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#modalAdminPanel">Show Admin Panel</button>

                        {% endif %}
                    </div>
                </div>

            {% endif %}
        </div>

    </div>


</nav>



{# 
    <script type="text/javascript" src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui-1.12.1.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/popper-1.16.0.umd.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-4.4.1.js') }}"></script>

 #}






{% endblock %}
