{% extends 'base.html.twig' %}




{% block body %}




<div>
            <h2>List of all conversations</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>content</td>
                    </tr>
                </thead>
                <tbody>
                    {% for conversation in conversations %}
                    <tr>
                        <td>{{ conversation.id }}</td>
                        <td>{{ conversation.content }} </td>


                        <td><a href="{{ path('conversation.show', { 'id': conversation.id }) }}" class="btn btn-info">Show</a></td>


                        {# <td><a href="{{ path('conversation.update', { 'id': conversation.id }) }}" class="btn btn-danger">Update</a></td> #}


                       <td><a href="{{ path('conversation.delete', { 'id': conversation.id }) }}" class="btn btn-primary">Delete</a></td>




                    </tr>
                    {% endfor %}

                </tbody>
            </table>
</div>
    <a href="{{ path('conversation.create') }}" class="btn btn-outline-primary">create</a>
    <br>
    <a href="{{ path('home') }}" class="btn btn-primary">Back</a>


{% endblock %}