{% extends 'base.html.twig' %}


{% block body %}





<div>
            <h2>List of all items from item</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>name</td>
                        <td>value</td>
                        <td>description</td>
                        <td>position</td>
                        {# <td>start_date</td> #}
                        {# <td>end_date</td> #}
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td><a href="#"> {{ item.name }} </a></td>

                        <td>{{ item.value }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.position }}</td>
                        {# <td>{{ item.start_date }}</td> #}
                        {# <td>{{ item.end_date }}</td> #}


                        <td><a href="{{ path('item.show', { 'id': item.id }) }}" class="btn btn-info">Show</a></td>


                        <td><a href="{{ path('item.update', { 'id': item.id }) }}" class="btn btn-danger">Update</a></td>


                       <td><a href="{{ path('item.delete', { 'id': item.id }) }}" class="btn btn-primary">Delete</a></td>





                    </tr>
                    {% endfor %}

                </tbody>
            </table>
</div>
    <a href="{{ path('item.create') }}" class="btn btn-outline-primary">create</a>
    <br>
    <a href="{{ path('home') }}" class="btn btn-primary">Back</a>


{% endblock %}