{# {% extends 'base.html.twig' %} #}

{% block stylesheets %}

{# 
	<style>
		#project-create-form{
			min-height: 329.66px;
			max-height: 329.66px;
			max-width: 60%;
			display: block;
			margin-right: auto;
			margin-left: auto;
		}
		#project-create-form>a{
		    text-align: right;
		    float: right;
		    margin-right: 5px;
		}
	</style>

 #}

{# 
<style>
	.modal-backdrop:nth-child(2n-1) {
  opacity : 0;
}
</style>

 #}

{% endblock %}


{% block body %}





    <div id="modal-ProjectPanel" class="modal hide fade" tabindex="-1" data-focus-on="input:first">
        <div id="modal-dialog ProjectPanel" class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header ProjectPanel">
                    <h4 class="modal-title">Project Panel</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body ProjectPanel">
					{{ form(form) }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer ProjectPanel">
                    <button class="btn btn-danger close_button" type="button" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>











{% endblock %}



{% block javascripts %}

    <script from="project\create-update">

        $(document).ready(function(){


			urlSaveType = '{{ urlSaveType }}' ;
			var project_id = '{{ project_id }}' ;

			if( urlSaveType == 'create' ){
				urlSaveForm = '{{ path('project.create') }}';
				$('#modal-ProjectPanel').find('.modal-title').text('Create Project');
				$('#modal-ProjectPanel').modal('show');
			}


			if( urlSaveType == 'update' ){
				urlSaveForm = '{{ path('project.update', { 'id': 'project_id' }) }}';
				urlSaveForm = urlSaveForm.replace("project_id", project_id );
				$('#modal-ProjectPanel').find('.modal-title').text('Update Project Name');
				$('#modal-ProjectPanel').modal('show');
			}





        	urlRedirection = '{{ path('project.list') }}';

			$('#form_save').on( 'click', function (e) {
				e.preventDefault();
				var form = $(this).closest('form');
				var formData = form.serialize();

				$.ajax({
					method:'POST',
					url: urlSaveForm,
					data: formData,
					success: function(){},
	            	complete: function(){
				        $.ajax({
				            type: "GET",
				            url: urlRedirection,
				            data: '',
				            cache: false,
				            success: function(data){
				                $('#column-left').html(data);
				            },
				            error: function(){},
				            complete: function(){
				            }
				        });
		            	$('#modal-ProjectPanel').modal('hide');
	            	}
				});
			});
        });

		$('#modal-ProjectPanel').on( 'hidden.bs.modal', function (e) {
				refreshElement('{{ path('project.list') }}', '#column-left');
		});


        $(document).ready(function(){
			$('form').find('#form_position').css('display','none');
			$('form').find("label[for='form_position']").css('display','none');
        });
    </script>

{# 
	<script type="text/javascript" src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery-ui-1.12.1.min.js') }}"></script>

	<script type="text/javascript" src="{{ asset('js/popper-1.16.0.umd.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/bootstrap-4.4.1.js') }}"></script>

 #}

{% endblock %}

