{# {% extends 'base.html.twig' %} #}

{% block stylesheets %}

	<style>
		#project-create-form{
			min-height:329.66px;
			max-height:329.66px;
		}
	</style>

{% endblock %}


{% block middle_top %}


<script>
	var urlSaveType = '{{ urlSaveType }}' ;
       	
	var urlSaveForm = '{{ path('project.create') }}';
	
	if(urlSaveType == 'update' ){
		var project_id = '{{ project_id }}' ;
		urlSaveForm = '{{ path('project.update', { 'id': project_id }) }}';
	}
</script>

	<div id="project-create-form">
	    {{ form(form) }}

		{% set prefix  = 'project.' %}
	    <a href="{{ path( 'home') }}" class="btn btn-primary">Back</a>
	</div>

{% endblock %}



{% block javascripts %}

    <script>

        $(document).ready(function(){

        	var urlAllPage = '{{ path('home') }}';
        	var urlRedirection = '{{ path('home') }}';

			$('#form_save').on( 'click', function (e) {
				e.preventDefault();
				var form = $(this).closest('form');
				var formData = form.serialize();

				$.ajax({
					method:'POST',
					url: urlSaveForm,
					data: formData,
					success: function(data){
						refreshAllPage(urlAllPage);
					}
				});
			});
        });





    </script>


{% endblock %}