{% extends 'base.html.twig' %}






{% block body %}




<div>
            <h2>List of all projects</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>title</td>
                        <td>position</td>
                        <td>items_list</td>

                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td>{{ project.id }}</td>
                        <td><a href="#"> {{ project.name }} </a></td>
                        <td><a href="#"> {{ project.position }} </a></td>


                        <td><a href="{{ path('project.show', { 'id': project.id }) }}" class="btn btn-info">Show</a></td>


                        <td><a href="{{ path('project.update', { 'id': project.id }) }}" class="btn btn-danger">Update</a></td>


                       <td><a href="{{ path('project.delete', { 'id': project.id }) }}" class="btn btn-primary">Delete</a></td>




                    </tr>
                    {% endfor %}

                </tbody>
            </table>
</div>
    <a href="{{ path('project.create') }}" class="btn btn-outline-primary">create</a>
    <br>
    <a href="{{ path('home') }}" class="btn btn-primary">Back</a>


{% endblock %}