{# {% extends 'base.html.twig' %} #}



{% block body %}





{{ form_start(form, {'class': 'myclass', 'attr': {'class': 'form-inline input-group my-2 my-lg-0 w-100', 'id':'searchBar', 'placeholder':'Search'}}) }}

{{ form_row(form.query) }}
{{ form_row(form.Search) }}

{{ form_end(form) }}

    <script type="text/javascript" src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui-1.12.1.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/popper-1.16.0.umd.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-4.4.1.js') }}"></script>


<div id="column-search">
	
</div>


{% set dataTmpVal = '' %}





    <button type="button" class="btn btn-secondary ml-2" data-toggle="modal" data-target="#modal-SearchPanel">Search Panel</button>

























<script>


	$('#searchBar div').find('input').unwrap();
	$('#searchBar div').find('button').unwrap();
	$('#searchBar').find('#form__token').remove();










$('#form_Search').on( 'click', function (e) {
    e.preventDefault();

	var form = $(this).closest('form');
	var data = form.serializeArray().reduce(function(obj, item) {
	    obj[item.name] = item.value;
	    return obj;
	}, {});


	urlForSearch = '{{ path('project.handleSearchForAjax', { 'query': 'dataTmpVal' }) }}';
	urlForSearch = urlForSearch.replace("dataTmpVal", data['form[query]'] );

	jakisbutton = '<button type="button" class="btn btn-secondary ml-2" data-toggle="modal" data-target="#modal-SearchPanel">Search Panel</button>';

	// modalheader








    $.ajax({
        type: "GET",
        url: urlForSearch,
        data: '',
        cache: false,
        success: function(data){
			var dataJson = JSON.parse(data);
			for (var i = 0; i < dataJson.length; i++) {
				console.log(dataJson[i].id);
				console.log(dataJson[i].name);
				// $('#column-search').append(dataJson[i].name+'<br>');
				$('body').append(jakisbutton);
			}

        },
        error: function(){},
        complete: function(){}
    });


});




</script>

{% endblock %}

{# 
// urlForSearch = '{{ path('project.handleSearch', { 'request': '{{ a }}' }) }}';
// urlForSearch = '{{ path('project.handleSearch', { 'request': 'a' }) }}';



//             $('#form_Search').on( 'click', function (e) {
//                 e.preventDefault();
// 				var form = $(this).closest('form');
// 				var formData = form.serialize();
// 				var formData2 = form.serializeArray();
// 				var formData3 = form.serializeArray().map(function(v) {return [v.name, v.value];} );


// console.log(form);
// console.log(formData);
// console.log(formData2);
// console.log(formData3);
// console.log(formData3['0']['1']);


// console.log(formData2['0']['value']);
// console.log(formData3['value']);
// // console.log(formData4);


// $('body').append('<div>eeeeeeeee</div>');


// var data = form.serializeArray().reduce(function(obj, item) {
//     obj[item.name] = item.value;
//     return obj;
// }, {});

// console.log(data);
// console.log(data['form[query]']);


// refreshColumnSearch(urlForSearch);



//             });













var data = '';
var datass = 'fff';

            $('#form_Search').on( 'click', function (e) {
                e.preventDefault();


				var form = $(this).closest('form');
				var formData = form.serialize();
				var formData2 = form.serializeArray();
				var formData3 = form.serializeArray().map(function(v) {return [v.name, v.value];} );



console.log('formData3= '+formData3);
console.log(formData3);
// console.log(formData3['form[query]']['value']);
console.log('formData3[0][1]= '+formData3['0']['1']);


console.log('formData2[0][value]= '+formData2['0']['value']);


// $('body').append('<div>eeeeeeeee</div>');


var data = form.serializeArray().reduce(function(obj, item) {
    obj[item.name] = item.value;
    return obj;
}, {});

console.log(data);
console.log('data[form[query]= '+data['form[query]']);


var datass = data['form[query]'];
// var datass = 'eeeff';
// {% set datass = datass %}

console.log(datass);


urlForSearch = '{{ path('project.handleSearchForAjax', { 'query': 'datass' }) }}';
urlForSearch = urlForSearch.replace("datass", datass);












